.header {
  height: 80px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1E3DF; }
  .header .headLeft {
    float: left;
    width: 45%; }
    .header .headLeft .logo {
      font-size: 30px;
      display: inline-block;
      margin: 20px 50px 20px 150px;
      color: #E46F31; }
    .header .headLeft .form {
      display: inline-block;
      margin: 10px 0px 20px 10px; }

form {
  display: inline-block; }

input {
  display: inline-block; }

.three {
  float: right;
  height: 100%;
  list-style: none;
  margin-right: 100px;
  margin-top: -7px; }
  .three li {
    display: inline-block; }

.register {
  margin: 5px;
  height: 20px; }

.signin {
  margin: 5px;
  padding: 5px;
  border: 1px solid #3D92B6;
  border-radius: 2px;
  height: 20px; }

.sell {
  margin: 5px;
  height: 20px; }

.cart {
  border-left: 1px solid #B2B2B2;
  margin-left: 40px;
  padding: 20px 0 20px 20px;
  text-align: center; }
  .cart .sprite {
    background: url("../images/cart.png") no-repeat 0 -1px;
    background-size: 16px 16px;
    width: 16px;
    height: 13px;
    margin-bottom: 7px; }
