body {
  background-color: #F5F5F1; }

.wrapper {
  background-color: #FFFFFF; }

.header {
  height: 80px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1E3DF;
  position: relative; }
  .header .headLeft {
    float: left;
    width: 45%; }
    .header .headLeft .logo {
      font-size: 45px;
      font-family: times;
      display: inline-block;
      margin: 12px 50px 20px 200px;
      color: #E46F31; }
    .header .headLeft .form {
      display: inline-block;
      margin: 10px 0px 20px 10px; }

.form {
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  top: 10px; }

input {
  display: inline-block;
  line-height: 2em; }

.three {
  float: right;
  height: 100%;
  list-style: none;
  margin-right: 30px;
  margin-top: 20px; }
  .three li {
    display: inline-block;
    color: #3D91B2; }

.register {
  margin: 5px;
  height: 20px; }

.signin {
  margin: 5px;
  padding: 5px;
  border: 1px solid #3D92B6;
  border-radius: 2px;
  height: 20px; }

.sell {
  margin: 5px;
  height: 20px; }

.cartSprite {
  float: right;
  margin-right: 200px; }

#searchBtn {
  background-color: #56A7C1;
  color: white;
  margin: 0;
  padding: 1px 7px; }

#search {
  margin-right: -6px; }

.sprite {
  float: right;
  background: url("../images/cart.png") no-repeat 0 -1px;
  background-size: 20px 20px;
  width: 22px;
  height: 20px;
  margin: 13px 16px -16px -27px;
  padding: 0px; }

.cart {
  display: inline-block;
  clear: both;
  border-left: 1px solid #B2B2B2;
  margin: 22px 0px 0px 0px;
  padding: 17px 0 2px 20px;
  text-align: center; }
  .cart span {
    width: 100%;
    color: #3D91B2; }

.categories {
  border-bottom: 1px solid #E1E3DF;
  height: 40px;
  background-color: #FFFFFF; }

.list {
  list-style: none;
  background-color: #FFFFFF;
  padding: 0;
  display: block;
  margin-top: 20px;
  margin-left: 185px;
  white-space: nowrap; }
  .list li {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 0 16px;
    font-size: 15px;
    color: #757575; }

.list a {
  text-decoration: none;
  color: #757575; }

.leftNav {
  margin-left: 200px;
  float: left; }
  .leftNav h4 {
    color: #555555;
    font-size: 15px;
    padding: 4px; }

.navbox {
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF;
  padding-top: 10px; }
  .navbox .title {
    margin-left: 2px;
    color: #555555;
    font-weight: bold;
    padding: 5px 5px; }
  .navbox .nav {
    list-style: none;
    background-color: #FFFFFF;
    color: #69A6BF;
    font-size: 12px;
    padding-left: 0px;
    margin-top: 4px;
    margin-left: 24px; }
    .navbox .nav li {
      padding: 3px; }
    .navbox .nav a {
      text-decoration: none;
      color: #69A6BF; }

.refineItem {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px; }
  .refineItem span {
    color: #555555;
    font-size: 15px;
    font-weight: bold;
    padding: 4px; }
  .refineItem .itemType {
    list-style: none;
    background-color: #FFFFFF;
    padding-left: 24px;
    padding-bottom: 12px;
    color: #69A6BF;
    font-size: 12px;
    border-bottom: 1px solid #E1E3DF; }
    .refineItem .itemType li {
      padding: 3px; }

.leftForm {
  background-color: #FFFFFF; }
  .leftForm .formy {
    display: inline-block;
    border-bottom: 1px solid #E1E3DF; }
  .leftForm fieldset {
    border: none; }
  .leftForm .dollars {
    width: 60px; }

.colors {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1E3DF;
  padding-bottom: 20px; }
  .colors h4 {
    margin: 6px 4px; }
  .colors .color {
    display: inline-block;
    height: 17px;
    width: 17px;
    border: 1px solid #E1E3DF;
    margin: 3px;
    padding-left: 4px;
    border-radius: 4px; }
  .colors .red {
    background-color: red; }
  .colors .orange {
    background-color: orange; }
  .colors .yellow {
    background-color: yellow; }
  .colors .green {
    background-color: green; }
  .colors .blue {
    background-color: blue; }
  .colors .purple {
    background-color: purple; }
  .colors .black {
    background-color: black; }
  .colors .white {
    background-color: white; }

.options {
  color: #69A6BF;
  border-bottom: 1px solid #E1E3DF;
  padding-bottom: 20px; }
  .options label {
    display: block;
    padding-left: 10px; }

.location {
  border-bottom: 1px solid #E1E3DF;
  padding-bottom: 20px; }
  .location label {
    display: block;
    color: #69A6BF;
    padding-left: 10px;
    margin: 5px; }
  .location .label2 {
    margin-bottom: 8px; }
  .location span {
    color: #69A6BF;
    font-size: 11px;
    margin-top: 8px;
    padding-left: 8px; }

.ship h4 {
  margin: 5px; }

.ship select {
  width: 175px;
  margin: 5px 8px 20px 8px; }

.meerkats {
  float: left;
  width: 850px;
  height: auto; }

.heynow {
  width: 100%;
  height: 40px; }

.numberResults {
  color: #69A6BF;
  font-size: 12px; }

.heynow ul {
  float: left;
  list-style: none;
  margin-bottom: -2px;
  margin-top: 40px;
  width: 550px;
  margin-right: 5px; }
  .heynow ul li {
    display: inline-block;
    font-size: 12px; }

.sortby {
  float: right;
  margin: 0;
  padding: 0;
  margin-right: 85px;
  margin-top: 35px; }

.sortby p {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #69A6BF;
  font-size: 12px; }

.sort {
  display: inline-block;
  margin: 0;
  padding: 0; }

.meow {
  float: left;
  width: 220px;
  margin: 20px;
  margin-top: 10px;
  border: 1px solid #E1E3DF;
  position: relative; }
  .meow img {
    width: 100%; }
  .meow .itemTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    font-size: 12px;
    margin: 0px 10px; }
  .meow a {
    text-decoration: none;
    color: #757575; }

.meow:hover:before {
  content: '';
  display: inline-block;
  background-color: white;
  background-image: url("../images/heart.png");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0; }

.meow:hover:after {
  content: '';
  display: inline-block;
  background-color: white;
  background-image: url("../images/hamburger.png");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 35px; }

.meow .itemPrice {
  float: right;
  font-size: 10px;
  color: green;
  margin: 4px 10px 4px; }

.meow .shopName {
  float: left;
  font-size: 10px;
  color: #757575;
  margin: 4px 0px 4px 10px; }

.footer {
  clear: both; }

.footer1 {
  clear: both;
  border-bottom: 1px solid #E1E3DF; }

.footer1 p {
  display: inline-block;
  text-align: center;
  color: #69A6BF;
  font-size: 12px;
  padding-top: 16px;
  padding-bottom: 12px;
  margin-left: 470px; }

.numberLine {
  padding: 0;
  padding-left: 565px;
  padding-bottom: 20px; }

.numbers {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 25px;
  height: 30px;
  border: 1px solid gray;
  background-color: #FFFFFF;
  margin: -3px;
  padding: -3px; }
  .numbers:hover {
    background-color: grey;
    cursor: hand; }

.footer2 {
  text-align: center;
  border-bottom: 1px solid #E1E3DF;
  padding-bottom: 20px; }

.footer3 {
  margin-left: 356px; }

.bottomLists {
  float: left;
  font-size: 12px; }
  .bottomLists ul {
    list-style: none;
    color: #69A6BF; }
  .bottomLists li {
    padding: 5px; }

.bottomLists button {
  background-color: #69A6BF;
  margin-left: 42px; }

.bottomLists p {
  font-size: 12px;
  width: 130px;
  margin-left: 42px; }

.sell {
  margin: 0px;
  color: black; }
