body{
  background-color: #F5F5F1;
}
.wrapper{
  background-color: #FFFFFF;
}
.header{
  height: 80px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1E3DF;
  position: relative;
  .headLeft{
    float: left;
    width: 45%;
    .logo{
      font-size: 45px;
      font-family: times;
      display: inline-block;
      margin: 12px 50px 20px 200px;;
      color: #E46F31;
    } 
    .form{
      display: inline-block;
      margin: 10px 0px 20px 10px;

      }
    }
  }
.form{
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  top: 10px;
}
input{
  display: inline-block;
  line-height: 2em;
}

      

.three{
      float: right;
      height: 100%;
      list-style: none;
      margin-right: 30px;
      margin-top: 20px;
      li{
        display: inline-block;
        color: #3D91B2;
      }
}
.register{
      
      margin: 5px;
      height: 20px;
}
.signin{
      
      margin: 5px;
      padding: 5px;
      border: 1px solid #3D92B6;
      border-radius: 2px;
      height: 20px;
}
.sell{
      
      margin: 5px;
      height: 20px;
    }
.cartSprite{
  float: right;
  margin-right: 200px;
}
#searchBtn{
  background-color: #56A7C1;
  color: white;
  margin: 0;
  padding: 1px 7px;
}
#search{
  margin-right: -6px;
}
.sprite {
          float: right;
          background: url('../images/cart.png') no-repeat 0 -1px;
          background-size: 20px 20px;
          width: 22px;
          height: 20px;
          margin: 13px 16px -16px -27px;
          padding: 0px;
        }
.cart{
      display: inline-block;
      clear: both;
      border-left: 1px solid #B2B2B2;
      margin: 22px 0px 0px 0px; 
      padding: 17px 0 2px 20px;
      text-align: center;
      span{
        width: 100%;
        color: #3D91B2;
      }
    }
//**********************Navigation******************//
.categories{
  // width: 100%;
  border-bottom: 1px solid #E1E3DF;
  height: 40px;
  background-color: #FFFFFF;
}  
.list{
  list-style: none;
  background-color: #FFFFFF;
  padding: 0;
  display: block;
  margin-top: 20px;
  margin-left: 185px;
  white-space: nowrap;

  li{
    display: inline-block;
    background-color: #FFFFFF;
    padding: 0 16px;
    font-size: 15px;
    color: #757575;
  }
}    
//****************Left Nav*********************//

.leftNav{
  margin-left: 200px;
  float: left;
   h4{
    color: #555555;
    font-size: 15px;
  }
}
.navbox{
  background-color: #FFFFFF;
  border: 1px solid #E1E3DF;
}
  .nav{
  list-style: none;
  
  background-color: #FFFFFF;
  color: #69A6BF;
  font-size: 12px;
  padding-left: 0px;
  margin-top: 4px;
  margin-left: 24px;
  li{
    padding: 3px;
  }
  
}
.title{
  margin-left: 2px;
  color: black;
  font-weight: bold;
  padding: 2px;
}

.refineItem{
  background-color: #FFFFFF;
  .itemType{
  list-style: none;
  background-color: #FFFFFF;
  }
}
.leftForm{
  border: 1px solid black;
  background-color: #FFFFFF;
 
}
.formy{
  display: inline-block;

} .dollars{
  width: 60px;
}





   

