<!DOCTYPE html>
<html>
<head>
  <title>Meerkat</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="mainBody">
<div class="wrapper">
  <div class="header">
    <div class="headLeft">
      <div class="logo">
        <span>Etsy</span>
      </div>
      <div class="form">
        <form action="" method="post" class='formA'>
          <label for="search"></label>
            <input id='search' type="text" name="name">
            <input id='searchBtn' type="submit" value="Search">
        </form>
      </div>
      <!-- <button class="btn">Search</button> -->
    </div>
    <!-- <div class="headRight"> -->
    
      <div class="cartSprite">
        <div class="cart">  
          <span>Cart</span>
        </div>
        <div class="sprite">
        </div>
      </div> 
      <ul class="three">
        <li class="sell"><span>Sell on Etsy</span></li>
        <li class="register"><span>Register</span></li>
        <li class="signin"><span>Sign In</span></li>
      </ul> 
    <!-- </div> -->
  </div><!--Header Tag End-->
  <div class="categories">
    <ul class= 'list'>
      <li>Clothing & Accessories</li>
      <li>Jewelry</li>
      <li>Craft Supplies & Tools</li>
      <li>Weddings</li>
      <li>Entertainment</li>
      <li>Home and Living</li>
      <li>Kids & Baby</li>
      <li>Vintage</li>
    </ul>
  </div><!--Categories End-->
</div>
</div><!--End of Header Nav-->

<div class="party">
  <div class="leftNav"><!--LeftSide Nav-->
    <h4>Show Results For:</h4>
    <div class="navbox">
        <span class="title">All Categories</span>
        <ul class="nav left">
          
          <li><a href='#'>Home & Living</a></li>
          <li><a href='#'>Art & Collectibles</a></li>
          <li><a href='#'>Weddings</a></li>
          <li><a href='#'>Clothing</a></li>
          <li><a href='#'>Jewelry</a></li>
          <li><a href='#'>Paper & Party Supplies</a></li>
          <li><a href='#'>Accessories</a></li>
          <li><a href='#'>Craft Supplies & Tools</a></li>
          <li><a href='#'>Bags & Purses</a></li>
          <li><a href='#'>Bath & Beauty</a></li>
          <li><a href='#'>Shoes</a></li>
          <li><a href='#'>Books, Movies & Music</a></li>
          <li><a href='#'>Electronics & Accessories</a></li>
          <li><a href='#'>Toys & Games</a></li>
          <li><a href='#'>Pet Supplies</a></li>
        </ul>
     </div> 
    <div class="refineBox">   
      <div class="refine">
        <h4>Refine Your Search</h4>
        <div class="refineItem">
          <span class='title'>Item Type</span>
                  <ul class="itemType">
                    <li><label for="option-two" class="pure-radio">
                <input id="option-two" type="radio" name="optionsRadios" value="option1" checked>
                All Items
            </label></li>
                    <li><label for="option-two" class="pure-radio">
                <input id="option-two" type="radio" name="optionsRadios" value="option1" checked>
                Handmade
            </label></li>
                    <li><label for="option-two" class="pure-radio">
                <input id="option-two" type="radio" name="optionsRadios" value="option1" checked>
                Vintage
            </label></li>
                  </ul>
                   <div class="leftForm">
          <h4>Price</h4>
              <form action='' class="formy">
                  <fieldset>
                      <input type="text" placeholder="$ Low" class='dollars'>
                      <input type="text" placeholder="$ High" class='dollars'>
                      <button type="submit" class="refineBtn">Search</button>
                  </fieldset>
              </form>

          </div> 
          <div class="colors">
            <h4>Filter by Color</h4>
            <div class="red color"></div><div class="orange color"></div><div class="yellow color"></div><div class="green color"></div><div class="blue color"></div><div class="purple color"></div><div class="black color"></div><div class="white color"></div>
          </div>
          <div class="options">
              <h4 class="title">Ordering Options</h4>
               <label for="option-one" class="pure-checkbox">
                <input class="checkbox1" type="checkbox" value="">
                 Accepts Etsy Gift Cards
              </label>
               <label for="option-one" class="pure-checkbox">
              <input class="checkbox1" type="checkbox" value="">
                Customizable
              </label>
          </div>
          <div class="location">
            <h4>Shop Location</h4>
                         <label for="option-two" class="pure-radio">
                  <input id="option-two" type="radio" name="optionsRadios" value="option1" checked>
                  Anywhere
              </label>
                 <label for="option-two" class="label2">
                  <input id="option-two" type="radio" name="optionsRadios" value="option1" checked>
                  United States
              </label>
              <span>Choose a custom location</span>
          </div>
          <div class="ship">
            <h4 class="title">Ship To</h4>
            <select name="select">
              <option value="value1">Your Mom</option> 
              <option value="value2" selected>United States</option>
              <option value="value3">Wat</option>
            </select>
          </div>
        </div>
      </div> <!--Refine-->
    </div><!--LeftForm-->
  </div><!--End of LeftSide Nav-->
</div><!--Part2-->  



<div class="meerkats">
    <div class="heynow">
      <ul>
        <li class='numberResults'>All Categories > </li> 
        <li class="keyword"></li>
        <li class='allstar'></li>  
      </ul> 
      <div class="sortby">
        <p>Sort by:</p>
        <select name="select" class="sort">
          <option value="value1">Price</option> 
          <option value="value2" selected>Relevancy</option>
          <option value="value3">Wat</option>
        </select>
      </div>
  </div>
</div>
</div>
<div class="footerMain">
  <div class="footer1">
    
    <p class="shops">Looking for shops? We got a couple:</p> 
      <div class="numberLine">
        <div class='numbers'><</div> 
        <div class='numbers'>1</div> 
        <div class='numbers'>2</div>
        <div class='numbers'>3</div> 
        <div class='numbers'>4</div> 
        <div class='numbers'>5</div> 
        <div class='numbers'>6</div> 
        <div class='numbers'>7</div> 
        <div class='numbers'>8</div> 
        <div class='numbers'>...</div> 
        <div class='numbers'>24</div>  
        <div class='numbers'>></div> 
       </div> 
    </div>
  <div class="footer2">
    <p>Get top trends and fresh editors' picks in your inbox with Etsy Finds.
    </p>
    <form action="" method="post" class='formA'>
          <label for="search"></label>
            <input id='search' placeholder='Enter your email' type="text" name="name">
            <input id='searchBtn' type="submit" value="Subscribe">
    </form>
  </div>
  <div class='footer3'>
    <div class="bottomLists uno">
      <p>Turn your passion into a business</p>
      <button>Open a shop</button>
      <ul>
        <li class="sell">Sell on Etsy</li>
        <li>Seller Handbook</li>
        <li>Etsy credit card reader</li>
      </ul>
    </div>
    <div class="bottomLists dos">
      <ul>
        <li class="sell">Join the community</li>
        <li>Teams</li>
        <li>Forums</li>
        <li>Upcoming events</li>
        <li>Affiliates</li>
      </ul>
    </div>
    <div class="bottomLists tres">
      <ul>
        <li class= 'sell'>Discover and shop</li>
        <li>Gift cards</li>
        <li>Blog</li>
        <li>Tastemakers</li>
        <li>Mobile apps</li>
        <li>Gift registries</li>
        <li>Wholesale</li>
        <li>Manufacturing</li>
        <li>Search</li>
        <li>Etsy Finds</li>
      </ul>
    </div>
    <div class="bottomLists cuatro">
      <ul>
        <li class='sell'>Get to know us</li>
        <li>About</li>
        <li>Policies</li>
        <li>Careers</li>
        <li>Press</li>
        <li>Developers</li>
        <li>Investors</li>
      </ul>
    </div>
    <div class="bottomLists cinco">
      <ul>
        <li class="sell">Follow Etsy</li>
        <li>Facebook</li>
        <li>Pinterest</li>
        <li>Instagram</li>
      </ul>
    </div>
  </div>

</div>


  


</div>
    <script type="text/template" id='itemTemplate'>
      <div class= 'meow'>
        <div class= 'smallPics'></div>
          <a href=<%= url %>><img src='<%=Images[0].url_170x135 %>' class= 'itemImg'></a>
          <a href= <%= url %>><p class= 'itemTitle'><%=title %></p>
          <p class='itemPrice'>$<%=price %> USD</p></a>
           <a href=<%= Shop.url %>><p class='shopName'><%=Shop.shop_name%></p></a>
      </div>
    </script> 
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src='bower_components/underscore/underscore.js'></script>
  <script src='js/etsy.js'></script>
  <script src="js/main.js"></script>
</body>
</html>